<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允许</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>允许定位</string>
	<key>user_ids</key>
	<array>
		<string>qiancheng</string>
		<string>baiyi.hwj</string>
		<string>joannaxu.xh</string>
		<string>cunzhou.tcz</string>
		<string>robbin.wjy</string>
		<string>shixi.zyy</string>
		<string>ruoyin.ly</string>
		<string>miao.ljl</string>
		<string>kaiyuan.xky</string>
		<string>chunming.xcm</string>
		<string>jinqi.cjq</string>
		<string>guandong.gd</string>
		<string>xianghuang.zdp</string>
		<string>yuanjin.cyj</string>
		<string>xinjie.dxj</string>
		<string>leonardo.ch</string>
		<string>zhuoling.lcl</string>
		<string>jizheng.yc</string>
		<string>shuting.cst</string>
		<string>siying.lcm</string>
		<string>fanying</string>
		<string>zhuxun.jb</string>
		<string>yunyan</string>
		<string>yujia.syj</string>
		<string>chenge.cn</string>
		<string>guxue.zyt </string>
		<string>xinshi</string>
		<string>qingling</string>
		<string>yuanxin</string>
		<string>wuning.wn</string>
		<string>xichi.zl</string>
		<string>jianghan.jh</string>
		<string>guangyu.tgy</string>
	</array>
	<key>user_names</key>
	<array>
		<string>千城</string>
		<string>白衣</string>
		<string>媛易</string>
		<string>丢哥</string>
		<string>道信</string>
		<string>拾夕</string>
		<string>弱饮</string>
		<string>咪嗷</string>
		<string>锋卫</string>
		<string>鸣晓</string>
		<string>溪泰</string>
		<string>苏喆</string>
		<string>项煌</string>
		<string>陆泰</string>
		<string>鸾萱</string>
		<string>程航</string>
		<string>卓凌</string>
		<string>己正</string>
		<string>溸馨</string>
		<string>寺樱</string>
		<string>樊英</string>
		<string>渚薰</string>
		<string>云燕</string>
		<string>京墨</string>
		<string>宸歌</string>
		<string>古雪</string>
		<string>心石</string>
		<string>青灵</string>
		<string>圆心</string>
		<string>吞吴</string>
		<string>夕迟</string>
		<string>江焰</string>
		<string>青乌</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>阿里幸运</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
